@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';


.header {
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
  }
}

.logo {
  margin: 0 auto;
  cursor: pointer;
}

.menu {
  padding-left: 35px;

  &__list {
    display: flex;
    justify-content: stretch;
  }

  &__list-item {
    padding-left: 35px;
    padding-right: 45px;
  }

  &__list-link {
    @extend %title-font;
    color: rgba(54, 56, 56, 0.9033);
    line-height: 22;

  }
}

.header__btn {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.footer {
  &__content {
    background-color: #DFDFDF;
    padding: 60px 0 80px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__copyright {
    background-color: $black;
    color: #A1A1A1;
    text-align: center;
    padding: 42px 0 41px;
  }
}

.footer__info {
  width: 540px;

  &-title {
    color: $black;
    @extend %title-font;
    font-size: 16px;
    line-height: 23px;
    margin-bottom: 14px;
  }

  &-text {
    color: $default;
    margin-bottom: 16px;
    max-width: 475px;
  }

  &-email {
    display: inline-block;
    color: $black;
    font-weight: 600;
    font-size: 14px;
    line-height: 28px;
    margin-bottom: 22px;
    padding-left: 30px;
    position: relative;

    &::before {
      content: "";
      background-image: url('../images/mail.svg');
      width: 16px;
      height: 12px;
      position: absolute;
      left: 0;
      top: 8px;
    }
  }
}

.footer__form {
  display: flex;

  &-input {
    width: 100%;
    padding: 6px 10px 6px 18px;
    border-radius: 21px;
    border: 1px solid rgba(#383636, .7);
    background-color: transparent;
    margin-right: 9px;

    &::placeholder {
      font-family: 'Open Sans', sans-serif;
      font-size: 16px;
      line-height: 27px;
      font-weight: 400;
      color: #A1A1A1;
    }
  }

  &-button {
    color: #FFFFF0;
    background: #363838;
    border-radius: 21px;
    padding: 6px 12px;
    background-color: $black;
    font-weight: 600;
    border: none;
    min-width: 160px;
    cursor: pointer;
  }
}

.footer__social {
  width: 125px;
  margin-right: auto;
  margin-left: 100px;

  &-item {
    margin-bottom: 15px;
  }

  &-link {
    padding-left: 28px;
    font-weight: 600;
    font-size: 14px;
    line-height: 28px;
    color: #707070;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 3px;
      left: 0;
      width: 16px;
      height: 16px;
    }

    &--facebook::before {
      background-image: url('../images/facebook.svg');
    }

    &--instagram::before {
      background-image: url('../images/instagram.svg');
      width: 14px;
      height: 14px;
      top: 4px;
    }

    &--pinterest::before {
      background-image: url('../images/pinterest.svg');
    }

    &--whatsapp::before {
      background-image: url('../images/whatsapp.svg');
      height: 14px;
      width: 14px;
    }

    &--youtube::before {
      background-image: url('../images/youtube.svg');
      width: 18px;
      height: 12px;
      top: 4px;
    }
  }
}

.footer__menu {
  margin-right: 60px;
  width: 125px;

  &-item {
    margin-bottom: 15px;
  }

  &-link {
    font-weight: 600;
    font-size: 14px;
    line-height: 28px;
    color: #707070;
  }
}

.rightside-menu {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  max-width: 694px;
  width: 100%;
  background-color: #fff;
  padding-top: 40px;

  box-shadow: -2px 3px 17px 0 #000;

  transition: all .3s;
}

.rightside-menu.rightside-menu--close { 
 transform: translateX(1000%);
}

.rightside-menu__close{
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  margin-left: 50px;
  margin-bottom: 60px;
}

.rightside-menu__content {
  text-align: center;
  max-width: 485px;
  margin: 0 auto;

}

.rightside-menu__logo {
  margin-bottom: 40px;
  display: inline-block;
}

.rightside-menu__title {
  @extend %title-font;
  font-size: 36px;
  line-height: 51px;
  text-align: center;
  color: $black;
}

.rightside-menu__text {
  margin-bottom: 75px;
}

.rightside-menu__images {
  max-width: 485px;
}